.home-body {
    height: 87vh;
    width: 100%;
    padding: 0 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 0;
    div {
        z-index: 5;
    }
}
#background-video{
    height: 80%;
    max-width: 100%;
    object-fit: cover;
    position: absolute; 
    z-index: 0;
  
}
.hello {
    background-color: hsla(240, 100%, 99%, 0.9);
    width: 98%;
    min-height: 50vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    .greet {
        padding: 2%;
        max-width: 33rem;
        p{
            margin: 2% 0;
           
            a{
                font-weight: 600;
                color: darkgray;
            }
        }
       
    }
    .greet-icons {
        display: flex;
        align-items: center;
        svg{
            margin-right: 2%;
        }
    }
   
}





.social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
   
    a{
        margin: 0 3%;
        height: 5vh;
        width: fit-content;
        
    }
    img{
       height: inherit;
       object-fit: contain;
       
    }
}