.board-body{
    min-height: 80vh;
    
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    margin: 5vh 15vw 3vh 0; 
    text-align: right;
    font-weight: 200;
    font-size: 2.7em;
}

a {
    text-decoration: none;
    color: rgb(103, 103, 103);
}

.post-container {
    height: auto;
    min-height: 20vh;
    margin: 0 auto;
    margin-bottom: 8%;
    width: 90%;
    max-width: 800px;
    text-align: justify;
    

}
.post-main {
    display: flex;
    text-align: left;   
}

.post-main img {
    height: 30vh;
    object-fit: contain;
    margin: 0 3%;
    
}
.post-main-text{
    display: flex;
    flex-direction: column;
    
}
.board-post-title {
    font-size: 1.6em;
    margin: 0 5%;
}
.post-main-text span {
    display: flex;
    gap: 2%;
    margin: 0 0 1% 4%;
    
}

.post-main-content{
    margin: auto auto 5% 0%;
}
.post-main-content2 {
    margin: 5% auto;
}

.swiper-container {
    height: 80%;
    display: block;
    width: 90%;
    margin: 5% auto;
}    

.swiper-wraper {
    height: 100%;
}

.board-photo {
    object-fit: contain;
    height: 100%;
    width: 90%;
    max-width: 600px;
}
.post-main-content-2 {
    margin-top: 3%;
}

.board-player {
    margin: 3% auto;
    width: 95%;
    max-width: 600px;

}

hr {
    color: black;
    width: 300px;
    max-width: 35%;
    margin: 5% auto;
   

}