.nav-bar{
    height: 12vh;
}

.link-panel {
   
    display: flex;
    width: 90%;
    max-width: 600px;
    height: inherit;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-end;
    gap: 2%;
    
}

.nav-button {
    margin-top: auto;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px 9px;
}
.logo {
    display: flex;
    align-items: baseline;
    height: 100%;
}
.logo img{
   height: 98%;
    object-fit: contain;
    margin-top: auto;
    
}