.nav-bar{
    height: 12vh;
    
    background: black;
    
}

.link-panel {
    display: flex;
    width: 90%;
    max-width: 600px;
    height: inherit;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-end;
    gap: 2%;
    padding-bottom: 0.5%;
}

.link-panel a {
    font-style: normal;
}

.nav-button {
    margin-top: auto;
    text-decoration: none;
    color: ghostwhite;
    padding: 6px 9px;
    font-size: 1.5em;
    font-weight: 400;  
}

.nav-video:hover{
    color:hsl(253, 8%, 80%);
    text-decoration: none;
}
.nav-web:hover{
    color:#FFC85C;
    text-decoration: none;
}
.nav-image:hover{
    color: #2C786C;
    text-decoration: none;
}
.nav-board:hover{
    text-decoration: none;
}
.nav-board:hover::after{
    content: "!"
}

.logo {
    margin-top: auto;
    height: inherit;
    color: ghostwhite;
    padding: 2% 0;
}
.logo img{
   height: 98%;
   width: auto;
    object-fit: contain;
    
    
}