.video-body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: #33313B;
}
.video-body a {
    color: currentColor;
    
}
.video-body p {
    margin: 0 auto;  
    color: ghostwhite;
}


