.App {
  text-align: center;
  width: 100%;
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  font-size: 1.1em;
  flex-wrap: nowrap;
 
}