.App {
  text-align: center;
  width: 100%;
 
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  font-size: 1em;
  flex-wrap: nowrap;
  background-color: hsla(240, 100%, 99%, 0.6);
  
 
}


@media (max-width: 550px) {

  .hello {
   
    padding-top: 2%;
    height: 65vh;
   
  }
  #background-video {
    width: 90%;
    height: 90%;
    
    border-radius: 6px;
  }  
  .greet {
    
    top: 20%;
    width: 85%;
    margin: 0 auto;
    font-size: 1.6em;
    
    
  }

  .post-main {
    flex-direction: column;
  }



}

