.App {
  text-align: center;
  width: 100%;
 
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  font-size: 1em;
  flex-wrap: nowrap;
  background-color: hsla(240, 100%, 99%, 0.6);
  
 
}

@media (max-width: 550px) {

  .hello {
    position: relative;
    padding-top: 2%;
    display: flex;
   
  }
  #background-video {
    width: 90%;
    height: 95%;
    object-fit: cover;
    opacity: 0.25;
    
    border-radius: 6px;
  }  
  .greet {
    position: absolute;
    top: 30%;
    width: 85%;
    margin: 0 auto;
    height: 100%;
    font-size: 1.4em;
  }

  .post-main {
    flex-direction: column;
  }



}

